.root {
  padding-bottom: 60px;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
}

.preview {
  img, video {
    margin: 0;
  }
}

.container { 
  align-items: var(--grapp-features-container-align-items);
}
