.root {
  flex: 1;
  font-size: 0.9rem;
}

.logo {
  width: 40px;
  height: 40px;
}

.columns {
  margin-bottom: 2rem;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

  h4 {
    letter-spacing: -0.678px !important;
    font-family: 'Inter';
    font-weight: 600;
  }
}
