.arg {
  color: var(--grapp-method-argument-color);
  font-style: italic;
}

.returns {
  color: var(--grapp-method-return-value-color);
}

.type {
  color: var(--grapp-method-type-color);
}

.bg {
  background-color: rgba(0, 0, 0, .04);

  :global(.dark) & {
    background-color: rgba(255, 255, 255, .04);
  }
}

.title {
  font-weight: 500;
}

.table {
  margin-bottom: -8px;
}
