.default {
  color: var(--grapp-property-default-value-color);
}

.type {
  color: var(--grapp-property-type-color);
}

.bg {
  background-color: rgba(0, 0, 0, .04);

  :global(.dark) & {
    background-color: rgba(255, 255, 255, .04);
  }
}

.title {
  font-weight: 500;
}

