@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital@0;1&family=Silkscreen:wght@400;700&display=swap');

html {
  blockquote {
    font-style: normal !important;
  }

  code, kbd, samp, pre {
    font-family: 'JetBrains Mono';
  }

  .nextra-code-block pre {
    font-size: 16px;
    --tw-bg-opacity: 0.03;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  }

  :is(html[class~=dark] body) {
    background-color: #0c0f1a;
  }

  :is(html[class~=dark] .nextra-sidebar-container),
  :is(html[class~=dark] .nextra-nav-container-blur),
  :is(html[class~=dark] .dark\:nx-bg-dark),
  :is(html[class~=dark] footer) {
    --tw-shadow: none;
    background-color: #0c0f1a !important;
  }

  :is(html[class~=dark] .dark\:nx-bg-neutral-800) {
    background-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 94% / .1) !important;
  }

  :is(html[class~=dark] .dark\:hover\:nx-bg-neutral-900:hover) {
    background-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation)94% / .05) !important;
  }

  :is(html[class~=dark] .dark\:nx-text-neutral-400) {
    color: rgba(156, 163, 175, var(--tw-text-opacity));
  }

  :is(html[class~=dark] .dark\:hover\:nx-border-neutral-700:hover) {
    border-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 94% / .1);
  }

  &.dark {
    --shiki-color-text: #f3f7ff;
    --shiki-color-background: transparent;
    --shiki-token-constant: #ff89af;
    --shiki-token-string: #a8acc0;
    --shiki-token-comment: #aaa;
    --shiki-token-keyword: #878b9f;
    --shiki-token-parameter: #7cd2ff;
    --shiki-token-function: #a8acc0;
    --shiki-token-string-expression: #a8acc0;
    --shiki-token-punctuation: #878b9f;
    --shiki-token-link: #faf39c;
    --grapp-hero-button-background-color: #161E35;

    .nextra-code-block pre {
      background-color: #0D111E;
    }
  }

  .grapp {
    font-size: 18px;
    letter-spacing: -1px !important;
    font-family: 'Silkscreen', sans-serif;
    text-transform: uppercase;
  }

  .grapp-logo {
    height: 40px;
    margin: 40px 0;
  }

  video {
    margin: 24px 0 16px;
  }

  .nextra-toc li .nx-font-semibold {
    font-weight: 400;
  }

  aside {
    & > div {
      border-top: none !important;
    }
  }

  footer {
    background: none !important;
    margin: 0 auto;
    max-width: 90rem;
    margin-bottom: max(env(safe-area-inset-bottom), 1.5rem);

    @media (max-width: 1500px) {
      padding-right: max(env(safe-area-inset-right), 1.5rem);
      padding-left: max(env(safe-area-inset-left), 1.5rem);
    }
  }
}

:root {
  --grapp-hero-grid-cols: repeat(6, minmax(0, 1fr));
  --grapp-hero-text-column-span: span 3 / span 3;
  --grapp-hero-preview-column-span: span 3 / span 3;
  --grapp-hero-preview-column-start: 4;
  --grapp-features-container-grid-cols: repeat(3, minmax(0, 1fr));
  --grapp-features-grid-cols: repeat(3, minmax(0, 1fr));
  --grapp-features-list-column-span: span 3 / span 3;
  --grapp-features-preview-column-span: span 1 / span 1;

  --grapp-property-default-value-color: var(--shiki-token-constant);
  --grapp-property-type-color: var(--shiki-token-link);
  --grapp-method-argument-color: var(--shiki-token-parameter);
  --grapp-method-return-value-color: var(--shiki-token-constant);
  --grapp-method-type-color: var(--shiki-token-link);
  --grapp-hero-button-background-color: #f3f4f6;
}

/* :root { */
/*   --shiki-color-text: #f3f7ff !important; */
/*   --shiki-color-background: transparent; */
/*   --shiki-token-constant: #1976d2; */
/*   --shiki-token-string: #22863a; */
/*   --shiki-token-comment: #aaa; */
/*   --shiki-token-keyword: #d32f2f; */
/*   --shiki-token-parameter: #ff9800; */
/*   --shiki-token-function: #ff538f !important; */
/*   --shiki-token-string-expression: #a8acc0; */
/*   --shiki-token-punctuation: #212121; */
/*   --shiki-token-link: #22863a; */
/* } */
 

